@import url('https://fonts.googleapis.com/css?family=Yantramanav:100');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400');
* {
    box-sizing: border-box;
}

html, body {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    height: 100%;
    margin: 0;
    width: 100%;
    height: 100%;
}


/** Begin landing page **/

.intro {
    height: 100%;
    width: 100%;
    margin: auto;
    background: url(fuji.jpg);
    display: table;
    top: 0;
    background-size: cover;
}

.intro .inner {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    max-width: none;
}

.content {
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 28%;
    margin-top: 10%;
}

.os-animation {
    margin-bottom: 20px;
}

.btn {
    color: black;
    margin-top: 30px;
    padding: 10px;
    border-radius: 10px;
    font-family: 'Fira Mono', monospace;
    font-size: 18px;
    font-weight: 600;
    border: 2px solid black;
    box-shadow: 0px 0px 1px #000;
    text-transform: capitalize;
}


/** End landing page **/


/** Div control for everything under the landing page **/

.page-wrapper {
    align-items: stretch;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    line-height: 20px;
    text-align: left;
    box-shadow: 0px 2px 1px #fff;
background-color: #0f1113
}


/** End wrapper **/


/** Begin navigation **/

.navbar {
    align-items: center;
    align-self: stretch;
    background-color: rgba(0, 0, 0, 0);
    box-sizing: border-box;
    display: flex;
    flex-basis: auto;
    flex-grow: 0;
    flex-shrink: 1;
    font-size: 14px;
    height: 120px;
    justify-content: space-between;
    line-height: 20px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0;
    position: static;
    text-align: left;
    width: 90%;
    z-index: 1
}

.navbar-container {
    align-items: center;
    background-color: rgba(0, 0, 0, 0);
    box-sizing: border-box;
    color: rgb(51, 51, 51);
    display: flex;
    flex-basis: 0%;
    flex-grow: 1;
    flex-shrink: 1;
    font-size: 14px;
    height: 80px;
    justify-content: space-between;
    line-height: 20px;
    margin-left: 27.2031px;
    margin-right: 27.2031px;
    max-width: 90%;
    position: relative;
    text-align: left;
}

a {
    text-decoration: none;
    color: black;
}

a.nav-link:hover {
    text-decoration: none;
    color: black;
    border-radius: 4px;
    border-top-style: none;
    background: #BBDEFB;
}

a.nav-link:active {
    text-decoration: none;
    color: black;
    border-radius: 4px;
    border-top-style: none;
    background: #B2EBF2;
}

.navbar, .navbar-container, a {
    background-color: transparent;
}

.nav-logo {
    width: 100%;
    text-decoration: none;
    letter-spacing: 2px;
    padding: 20px;
    color: black;
    font-size: 20px;
}

.navbar-links {
    display: flex;
}

.nav-link {
    align-items: center;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-top-style: none;
    bottom: 0px;
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    cursor: auto;
    display: block;
    flex-direction: row;
    font-size: 18px;
    font-weight: 500;
    height: 40px;
    justify-content: center;
    line-height: 20px;
    margin-left: 10px;
    margin-right: 10px;
    padding-bottom: 10px;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 10px;
    position: relative;
    right: 0px;
    text-align: left;
    text-transform: none;
    top: 0;
}

.nav-link.nav-link-last {
    margin-right: 0;
}


/** End nagivation **/


/** Begin Body and Content **/

body {
    font-family: 'Fira Mono', monospace;
    background-color: #000000;
    color: #FFFFFF;
}

.header-logo img {
    max-width: 33%;
    margin-left: 25px;
}

.header-intro {
    display: flex;
    margin-bottom: 34px;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 240%;
    font-family: monospace;
    margin-top: 25px;
    line-height: 30px;
}

.title {
    font-size: 300%;
    line-height: 50px;
}


#indextop {
  margin-bottom: 30px;
}
.index {
    align-items: stretch;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    line-height: 20px;
    text-align: left;
    margin-left: 5%;
    padding: 40px;
}

.body-text {
    margin-top: 30px;
    font-size: 200%;
    line-height: 35px;
    text-indent: 50px;
}

.body-text-right {
    float: right;
}

hr {
  background-color: white;
}
/** begin principles **/
.principle {
  margin: 10px;
      vertical-align: middle;
}

/** begin footer **/
.footer {
    position: static;
    left: 0;
    right: 0;
    bottom: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-top: 0;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: #0f1113;
}

.footer-container {
  width:80%;
  padding: 10px;
}

.footer, .footer-container {
    margin-right: auto;
    margin-left: auto;
    width: 100%;
}

.footer-items {
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.footer-copyright {
    display: inline-block;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    color: #565656;
    font-size: 15px;
}

.footer-brand {
    display: block;
    margin-right: 0;
    margin-left: 0;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: baseline;
    -webkit-align-items: baseline;
    -ms-flex-align: baseline;
    align-items: baseline;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    align-self: center;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    line-height: 1px;
    text-align: center;
}

.footer-social {
    display: block;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    align-self: center;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    text-align: right;
}

.footer-social-link {
    margin-right: 15px;
    margin-left: 15px;
    color: #565656;
    text-decoration: none;
}

.footer-social-link.footer-link-first {
    margin-left: 0;
    font-weight: 500;
}

/*--- Media Queries --*/


@media screen and (max-width: 900px) {
    .index {
        width: 600px;
    }
}

@media screen and (max-width: 768px) {
    .index {
        width: 500px;
    }
}

@media screen and (max-width: 480px) {
    .index {
        width: 300px;
    }
}
